In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
num_subs = 2.0
id_col = 'image'
base_path = os.path.join(os.path.abspath(os.curdir), "submissions/")

In [3]:
dfs = []

df1 = pd.read_csv(base_path + "vggbn_conv_640x360/0.887-LB_ABD.csv")
dfs.append(df1)

df2 = pd.read_csv(base_path + "vggbn_480x270/0.886-LB_AB.csv")
dfs.append(df2)

# df3 = pd.read_csv(base_path + 'vgg16bn_conv_640x360/0.887-LB_ABD')
# dfs.append(df3)

# df4 = pd.read_csv(base_path + 'vggbn_480x270/0.887-LB_ABD.csv')
# dfs.append(df4)

# df5 = pd.read_csv(base_path + '.csv')
# dfs.append(df5)

# df6 = pd.read_csv(base_path + '.csv')
# dfs.append(df6)

df1.head()

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,img_06611.jpg,0.028455,0.025245,0.009709,0.009000,0.009000,0.009000,0.009000,0.935686
1,img_05915.jpg,0.081032,0.046658,0.017558,0.009000,0.009000,0.010705,0.010801,0.842680
2,img_05186.jpg,0.579361,0.018089,0.009000,0.009000,0.009000,0.009000,0.010526,0.395828
3,img_03891.jpg,0.727488,0.223844,0.012512,0.009000,0.009000,0.025972,0.016030,0.015932
4,img_04073.jpg,0.134555,0.354080,0.017614,0.108959,0.009299,0.049992,0.011424,0.324730

In [4]:
def create_ave_df(df_list):
    sample = df_list[0]
    ave_df = pd.DataFrame(columns=sample.columns)
    ave_df[id_col] = sample[id_col]
    ave_df.fillna(0.0, inplace=True)
    return ave_df

ave_df = create_ave_df(dfs)

ave_df.head()

           image  ALB  BET  DOL  LAG  NoF  OTHER  SHARK  YFT
0  img_06611.jpg  0.0  0.0  0.0  0.0  0.0    0.0    0.0  0.0
1  img_05915.jpg  0.0  0.0  0.0  0.0  0.0    0.0    0.0  0.0
2  img_05186.jpg  0.0  0.0  0.0  0.0  0.0    0.0    0.0  0.0
3  img_03891.jpg  0.0  0.0  0.0  0.0  0.0    0.0    0.0  0.0
4  img_04073.jpg  0.0  0.0  0.0  0.0  0.0    0.0    0.0  0.0

In [5]:
def populate_ave_df(ave_df, df_list):
    for col in ave_df.columns.values:
        if col == id_col:
            continue
        for df in df_list:
            ave_df[col] = ave_df[col] + df[col]
        ave_df[col] = ave_df[col] / num_subs
    return ave_df

ave_df = populate_ave_df(ave_df, dfs)
ave_df.head()

,image,ALB,BET,DOL,LAG,NoF,OTHER,SHARK,YFT
0,img_06611.jpg,0.035374,0.037766,0.009855,0.016070,0.009500,0.009500,0.009500,0.913316
1,img_05915.jpg,0.047592,0.028329,0.022788,0.009500,0.012514,0.114395,0.010401,0.786188
2,img_05186.jpg,0.745392,0.014044,0.014807,0.009500,0.009500,0.013142,0.010263,0.224882
3,img_03891.jpg,0.841904,0.117918,0.011256,0.014431,0.009500,0.017986,0.013015,0.018285
4,img_04073.jpg,0.078489,0.320696,0.013807,0.086954,0.009650,0.032017,0.010712,0.468598

In [6]:
def generate_new_submission(ave_df):
    ave_df.to_csv(base_path + '-LB_.csv', index=False)
    
generate_new_submission(ave_df)

## Calculating correlation between submissions

In [7]:
# dfs = []

# for root, dirs, files in os.walk(base_path):
#     for fn in [os.path.join(root, name) for name in files]:
# #         print fn
#         df = pd.read_csv(fn)
#         dfs.append(df)
        
# print len(dfs)

In [8]:
### using sequential comparisons

# filtered_dfs = []

# for i in range(len(dfs)-1):
#     saved_ids = dfs[i][id_col]
#     dfa = dfs[i].drop(id_col, axis=1)
#     dfb = dfs[i+1].drop(id_col, axis=1)
#     corr = dfa.corrwith(dfb).sum()/dfa.shape[1]
# #     print corr
    
#     if corr < .7:
#         dfa[id_col] = saved_ids
#         filtered_dfs.append(dfa)

# num_subs = len(filtered_dfs)
# print "number meeting criteria:", num_subs

In [9]:
### using averages

# filtered_dfs = []

# for dfa in dfs:
#     saved_ids = dfa[id_col]
#     dfa = dfa.drop(id_col, axis=1)
#     corr_sum = 0.
#     for dfb in dfs:
#         dfb = dfb.drop(id_col, axis=1)
#         corr = dfa.corrwith(dfb).sum()/dfa.shape[1]
#         corr_sum += corr
#     corr_avg = corr_sum/len(dfs)
# #     print corr_avg
    
#     if corr_avg < .95:
#         dfa[id_col] = saved_ids
#         filtered_dfs.append(dfa)

# num_subs = len(filtered_dfs)
# print "number meeting criteria:", num_subs

In [10]:
# ave_df = create_ave_df(filtered_dfs)
# ave_df = populate_ave_df(ave_df, filtered_dfs)

# ave_df.head()

In [11]:
# generate_new_submission(ave_df)